@keyframes slide {
  0% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-joshsorenson-976866.jpg');
  }
  33% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-shelaghmurphy-1666816.jpg');
  }
  66% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-yetiismyname-971515.jpg');
  }
  100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/public/assets/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg');
  }
}

.background-slider {
  animation: slide 50s ease-in infinite;
  transition: background-image 1s ease-in;
}

/* Mobile view adjustments */
@media (max-width: 640px) { /* Adjust this width as needed for your design */
  .background-slider {
      background-size: cover; /* Make sure images cover the area */
      background-position: center; /* Center the background image */
  }
  
  @keyframes slide {
      0% {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-joshsorenson-976866.jpg');
          background-size: contain; /* Adjust size for mobile */
      }
      33% {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-shelaghmurphy-1666816.jpg');
          background-size: contain;
      }
      66% {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/pexels-yetiismyname-971515.jpg');
          background-size: contain;
      }
      100% {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/public/assets/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg');
          background-size: contain;
      }
  }
}
